.screenshot {
  padding-top:30px;
  /* height: 200px; */
  width: 100%;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{
	/* display: block; */
	/* margin: 0 auto; */
}
a {
  color: green;
}
@media screen and (max-width:959px) {
  .tile {
    width: 30%;

  }
  .tile img {
    width: 100%;
    float: left;

  }
  .screenshot {
    width:100%;
  }
  a, p, h4 {
    width: 50%;
    word-wrap: break-word;
    text-align: center;

  }

}
@media screen and (max-width:748px) {
  .tile {
    width: 30%;
  }
  .tile img {
    width: 50%;
    float: none;
  }
  .screenshot {
    width:100%;
  }
  a,p,h4 {
    word-wrap:break-word;
    width: 50%;
    text-align: center;

  }

}
